parameters:
	doctrine:
		entityPaths: [ %appDir%/model/entities ]
		proxyDir: %tempDir%/cache/_Doctrine.ORM.Proxy
		autogenerateProxyClasses: %debugMode%

services:
	doctrine.entityManager:
		class: Doctrine\ORM\EntityManager
		factory: Doctrine\ORM\EntityManager::create(%doctrine.database%, @doctrine.configuration)

	doctrine.connection:
		class: Doctrine\DBAL\Connection
		factory: @doctrine.entityManager::getConnection()

	doctrine.configuration:
		class: Doctrine\ORM\Configuration
		setup:
			- setMetadataCacheImpl(@doctrine.cache)
			- setQueryCacheImpl(@doctrine.cache)
			- setResultCacheImpl(@doctrine.cache)
			- setProxyDir(%doctrine.proxyDir%)
			- setProxyNamespace(DoctrineProxies)
			- setAutogenerateProxyClasses(%doctrine.autogenerateProxyClasses%)
			- setMetadataDriverImpl(@doctrine.metadataDriver)

	doctrine.metadataDriver: @doctrine.annotationDriver

	doctrine.annotationDriver: Doctrine\ORM\Mapping\Driver\AnnotationDriver(@doctrine.cachedAnnotationReader, %doctrine.entityPaths%)

	doctrine.annotationReader:
		class: Doctrine\Common\Annotations\SimpleAnnotationReader
		setup:
			- addNamespace('Doctrine\\ORM\\Mapping')

	doctrine.cachedAnnotationReader: Doctrine\Common\Annotations\CachedReader(@doctrine.annotationReader, @doctrine.cache)

	doctrine.cache:
		class: Doctrine\Common\Cache\ArrayCache
		setup:
			- setNamespace(::md5(%doctrine.proxyDir%))

	doctrine.entityManagerConsoleHelper:
		class: Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper
		tags:
			Symfony\Component\Console\Helper\HelperInterface: em

	doctrine.connectionConsoleHelper:
		class: Doctrine\DBAL\Tools\Console\Helper\ConnectionHelper
		tags:
			Symfony\Component\Console\Helper\HelperInterface: db
