parameters:
	doctrine:
		entityPaths: [ %appDir%/model/Domain ]
		proxyDir: %tempDir%/cache/_Doctrine.ORM.Proxy
		autogenerateProxyClasses: %debugMode%
		useSimpleAnnotationReader: TRUE
		migrations:
			name: Migrations
			directory: %appDir%/migrations
			namespace: DoctrineMigrations
			tableName: doctrine_migration_versions

services:
	doctrine.entityManager:
		class: Doctrine\ORM\EntityManager
		factory: Doctrine\ORM\EntityManager::create(%doctrine.database%, @doctrine.configuration)

	doctrine.connection:
		class: Doctrine\DBAL\Connection
		factory: @doctrine.entityManager::getConnection()

	doctrine.configuration:
		class: Doctrine\ORM\Configuration
		setup:
			- setMetadataCacheImpl(@doctrine.cache)
			- setQueryCacheImpl(@doctrine.cache)
			- setResultCacheImpl(@doctrine.cache)
			- setProxyDir(%doctrine.proxyDir%)
			- setProxyNamespace(DoctrineProxies)
			- setAutogenerateProxyClasses(%doctrine.autogenerateProxyClasses%)
			- setMetadataDriverImpl(@self::newDefaultAnnotationDriver(%doctrine.entityPaths%, %doctrine.useSimpleAnnotationReader%))

	doctrine.cache:
		class: Doctrine\Common\Cache\ArrayCache
		setup:
			- setNamespace(::md5(%doctrine.proxyDir%))

	doctrine.entityManagerConsoleHelper:
		class: Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper
		tags:
			Symfony\Component\Console\Helper\HelperInterface: em

	doctrine.connectionConsoleHelper:
		class: Doctrine\DBAL\Tools\Console\Helper\ConnectionHelper
		tags:
			Symfony\Component\Console\Helper\HelperInterface: db

	doctrine.consoleCommandSet:
		class: NetteCli\DoctrineCommandSet
		tags: [ NetteCli\CommandSet ]

	doctrine.migrations.consoleCommandSet:
		class: NetteCli\DoctrineMigrationsCommandSet
		tags: [ NetteCli\CommandSet ]

	doctrine.migrations.configuration:
		class: Doctrine\DBAL\Migrations\Configuration\Configuration
		setup:
			- setName(%doctrine.migrations.name%)
			- setMigrationsDirectory(%doctrine.migrations.directory%)
			- setMigrationsNamespace(%doctrine.migrations.namespace%)
			- setMigrationsTableName(%doctrine.migrations.tableName%)
			- registerMigrationsFromDirectory(%doctrine.migrations.directory%)
