services:
	model.repositories.users:
		class: App\Model\Repositories\Users
		factory: @doctrine.entityManager::getRepository(App\Model\Domain\User)

	model.services.authenticator: App\Model\Services\Authenticator(..., %security.salt%)
